<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>シフト編集</h5>
      <%= form_with(model: @shift, local: true, url: admins_shift_path) do |f| %>
        <div class="form-group">
         <%= f.label :スタッフ名 %>
         <%= f.collection_select :staff, @users, :id, :last_name, {include_blank: true}, class: 'selectpicker form-control bootstrap-date-only-width'  %>

        </div>
      
        <div class="form-group">
         <%= f.label :開始時刻 %>
         <%= f.datetime_field :start_time, class: 'form-control bootstrap-date-only-width' %>
        </div>
  
        <div class="form-group">
         <%= f.label :終了時刻 %>
         <%= f.datetime_field :end_time, class: 'form-control bootstrap-date-only-width' %>
        </div>
  
        <div class="form-group">
          <%= f.label :仕事内容 %>
          <%= f.select :type, options_for_select(Shift.types.keys), {},class: 'form-control bootstrap-date-only-width' %>
        </div>
  
        <div class="form-group">
          <%= f.label :介護種類 %>
          <%= f.select :work, options_for_select(Shift.works.keys), {},class: 'form-control bootstrap-date-only-width' %>
        </div>
  
        <div class="d-flex justify-content-center">
          <%= f.submit "更新する", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>