
<div class="container">
 <div class="row">
   <div class="col-md-12">
      <% if flash[:notice] %>
          <%= flash[:notice] %>
      <% end %>

      <%= month_calendar events: @shifts do |date, shifts| %>
        <%= date.day %>
        <% shifts.each do |shift| %>
          <div>
            <%= link_to admins_shift_path(shift), class: "text-dark" do %>
              <%= shift.start_time.hour %>：<%= shift.start_time.min %>
              <%= shift.type %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= link_to "シフトを追加する", new_admins_shift_path, class:"btn btn-primary" %>

   </div>

 </div>
</div>