
<div class="container">
 <div class="row mt-5">
   <div class="col-md-4">
      <% if flash[:notice] %>
          <%= flash[:notice] %>
      <% end %>

      <%= month_calendar events: @shifts do |date, shifts| %>
        <%= link_to admins_shift_path(@shifts), class: "text-dark" do %>
          <%= date.day %>
        <% end %>
      <% end %>
      <%= link_to "シフトを追加する", new_admins_shift_path, class:"btn btn-primary" %>
   </div>
   <div class="col-md-8">
     <h4><%= Date.today %>のシフト</h4>
      <table class="table table-bordered table-hover">
       <thead>
         <tr>
           <th>開始時刻</th>
           <th>終了時刻</th> 
           <th>スタッフ</th>
           <th></th>
         </tr>
       </thead>
       <tbody>
        <% @shift.each do |shift| %>
         <tr>
           <td><%= shift.start_time.hour %>：<%= shift.start_time.min %></td>
           <td><%= shift.end_time.hour %>：<%= shift.end_time.min %></td>
           <td><%= shift.staff %></td>
           <td><%= link_to "詳細", admins_shift_path(shift), class: "text-dark" %></td>
         </tr>
        <% end %>
       </tbody>
      </table>
    </div>
 </div>
</div>
