<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>シフト入力</h5>
      <%= form_with(model: @shift, local: true, url: admins_shifts_path, method: :post) do |f| %>
        <div class="form-group">
         <%= f.label :スタッフ %>
         <%= f.collection_select :user_id, @users, :id, :last_name, {include_blank: true}, class: 'selectpicker form-control bootstrap-date-only-width'  %>
        </div>
        
        <div class="form-group">
         <%= f.label :利用者 %>
         <%= f.collection_select :customer_id, @customers, :id, :last_name, {include_blank: true}, class: 'selectpicker form-control bootstrap-date-only-width'  %>
        </div>

        <div class="form-group">
         <%= f.label :開始時刻 %>
         <%= f.datetime_field :start_time, class: 'form-control bootstrap-date-only-width' %>
        </div>

        <div class="form-group">
         <%= f.label :終了時刻 %>
         <%= f.datetime_field :end_time, class: 'form-control bootstrap-date-only-width' %>
        </div>

        <div class="form-group">
          <%= f.label :仕事内容 %>
          <%= f.select :type, options_for_select(Shift.types.keys), {},class: 'form-control bootstrap-date-only-width' %>
        </div>

        <div class="form-group">
          <%= f.label :介護種類 %>
          <%= f.select :work, options_for_select(Shift.works.keys), {},class: 'form-control bootstrap-date-only-width' %>
        </div>

        <div class="d-flex justify-content-center">
          <%= f.hidden_field :status, value: 0 %>
          <%= f.submit "入力", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
