<div class="container mt-3">

  <div class="col-md-12">
　<h2>新規シフト入力</h2>

   <%= form_with(model: @shift, local: true, url: admins_shifts_path, method: :post) do |f| %>
    <table class="table table-bordered table-hover mt-3">
      <tr>
        <th class="table-light">スタッフ</th>
        <td>
           <% if flash[:notice1] %>
              <%= flash[:notice1] %>
           <% end %>
          <%= f.collection_select :user_id, @users, :id, :last_name, {include_blank: true}, class: "selectpicker form-control bootstrap-date-only-width  #{"is-invalid" if @shift.errors.include?(:user_id)}"  %>
        </td>
      </tr>
      <tr>
        <th class="table-light">利用者</th>
        <td>
          <% if flash[:ale2] %>
            <%= flash[:ale2] %>
         <% end %>
          <%= f.collection_select :customer_id, @customers, :id, :last_name, {include_blank: true}, class: "selectpicker form-control bootstrap-date-only-width #{"is-invalid" if @shift.errors.include?(:customer_id)}"  %>
        </td>
      </tr>
      <tr>
        <th class="table-light">サービス時間</th>
        <td>
          <%= f.label :開始時刻 %><%= f.datetime_field :start_time, class: "form-control bootstrap-date-only-width #{"is-invalid" if @shift.errors.include?(:start_time)}" %>〜<%= f.label :終了時刻 %><%= f.datetime_field :end_time, class: "form-control bootstrap-date-only-width #{"is-invalid" if @shift.errors.include?(:end_time)}" %>
        </td>
      </tr>
      <tr>
        <th class="table-light">仕事内容</th>
        <td>
          <%= f.select :type, options_for_select(Shift.types.keys), {include_blank: true},class: "form-control bootstrap-date-only-width #{"is-invalid" if @shift.errors.include?(:type)}" %>
        </td>
      </tr>
      <tr>
        <th class="table-light">介護種類</th>
        <td>
          <%= f.select :work, options_for_select(Shift.works.keys), {include_blank: true},class: "form-control bootstrap-date-only-width #{"is-invalid" if @shift.errors.include?(:work)}" %>
        </td>
      </tr>

    </table>
    <div class="d-flex justify-content-center">
          <%= f.submit "新規登録する", class:"btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
