<div class="container">
 <div class="row mt-5">
   <div class="col-md-7 mt-5">
     <table class="table table-bordered table-hover">
       <tr>
         <th>実施日</th>
         <td><%= @shift.start_time.to_date %></td>
       </tr>
       <tr>
         <th>スッタフ名</th>
         <td><%= @shift.user.last_name %></td>
       </tr>
       <tr>
         <th>利用者</th>
         <td><%= @shift.customer.last_name %></td>
       </tr>
       <tr>
         <th>開始時刻</th>
         <td><%= @shift.start_time.strftime("%H:%M") %></td>
       </tr>
       <tr>
         <th>終了時刻</th>
         <td><%= @shift.end_time.strftime("%H:%M") %></td>
       </tr>
       <tr>
         <th>仕事内容</th>
         <td><%= @shift.type %></td>
       </tr>
       <tr>
         <th>介護の種類</th>
         <td><%= @shift.work %></td>
       </tr>
       <tr>
         <th>ステータス</th>
         <td><%= @shift.status %></td>
       </tr>
     </table>
   </div>
   <div class="col-md-5 mt-5">
    <div class="card mb-6" style="max-width: 600px max-height: 100px">
     <div class="row no-gutters">
         <div class="col-md-3 my-auto ml-1">
          <%= attachment_image_tag @shift.customer, :image, :fill, 300, 300, fallback: "no_image.jpg", class: "card-img-top" %>
         </div>
         <div class="col-md-8">
             <div class="card-body">
                 <h5 class="card-title"><%= link_to @shift.customer.last_name, customer_path(@shift.customer_id), class: "no-underline" %></h5>
                 <p>電話番号：<%= @shift.customer.telephone_number %></p>
                 <p>住所：〒 <%= @shift.customer.address %><br><%= @shift.customer.address %></p>
                 <span><%= link_to "詳しく見る", admins_customer_path(@shift.customer_id), class:"btn btn-outline-secondary" %></span>
             </div>
         </div>
     </div>
    </div>
    <div class="card mb-6 mt-2" style="max-width: 600px max-height: 100px">
     <div class="row no-gutters">
         <div class="col-md-12">
              <p>
              <%= form_with(model: @shift, url: shift_path(@shift), local: true, class: "form-row") do |f| %>
             <div class="card-body" style="text-align: center;">
               <% if @record.present? %>
                <%= link_to "記録を確認する", admins_record_path(@record), class:"btn btn-outline-secondary" %>
               <% else %>
                <P>記録はされていません</P>
               <% end %>
              <% end %>
              </p>
             </div>
         </div>
     </div>
    </div>
  </div>
 </div>
</div>