<div class="container">
  <div class="row mx-auto">
    <p class="h4 mt-4 mb-5">スタッフ詳細</p>
  </div>
   <% if flash[:notice] %>
    <%= flash[:notice] %>
   <% end %>
  <div class="row">
    <div class="col-md-2">
      <%= attachment_image_tag @user, :image, size: "175x175", fallback: 'no_image.jpg', class: "rounded-circle" %>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
        <tr>
          <th class="table-light">会員ID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th class="table-light">名前</th>
          <td><%= @user.last_name %> <%= @user.first_name %></td>
        </tr>
        <tr>
          <th class="table-light">名前(カナ)</th>
          <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-light">住所</th>
          <td>
            〒<%= @user.postal_code.slice(0, 3) + "-" + @user.postal_code.slice(3, 4) %><br>
            <%= @user.address %>
          </td>
        </tr>
        <tr>
          <th class="table-light">電話番号</th>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-light">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-2">
      <div>
        <%= link_to "編集する", edit_admins_user_path(@user), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <p class="h4 mt-4 mb-5">シフト詳細</p>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
       <thead>
         <tr>
           <th>実施日</th>
           <th>利用者</th>
           <th>開始時刻</th>
           <th>終了時刻</th>
         </tr>
       </thead>
       <tbody>
        <% @shifts.each do |shift| %>
         <tr>
           <td><%= shift.start_time.to_date %></td>
           <td><%= shift.customer_na %></td>
           <td><%= shift.start_time.hour %>：<%= shift.start_time.min %></td>
           <td><%= shift.end_time.hour %>：<%= shift.end_time.min %></td>
         </tr>
        <% end %>
       </tbody>
      </table>
    </div>
  </div>
</div>
