<div class="container mt-5">

  <div class="col-md-12">
    <%= form_with(model: @customer, local: true, url: admins_customers_path, method: :post) do |f| %>
    <table class="table table-bordered table-hover">
      <tr>
        <th class="table-light">写真</th>
        <td>
          <%= f.attachment_field :image %>
        </td>
      </tr>
      <tr>
        <th class="table-light">氏名</th>
        <td>
          <%= f.label :姓  %><%= f.text_field :last_name, autofocus: true, placeholder: "例)山田", class: "form-control bootstrap-date-only-width #{"is-invalid" if @customer.errors.include?(:last_name)}" %><%= render 'shared/errors', obj: @customer, column: :last_name %><%= f.label :名 %><%= f.text_field :first_name, autofocus: true, placeholder: "例)太郎", class: "form-control bootstrap-date-only-width #{"is-invalid" if @customer.errors.include?(:first_name)}" %><%= render 'shared/errors', obj: @customer, column: :first_name %>
        </td>
      </tr>
      <tr>
        <th class="table-light">フリガナ</th>
        <td>
          <%= f.label :姓（カナ） %><%= f.text_field :last_name_kana, autofocus: true, placeholder: "例)ヤマダ", class: "form-control bootstrap-date-only-width #{"is-invalid" if @customer.errors.include?(:last_name_kana)}" %><%= render 'shared/errors', obj: @customer, column: :last_name_kana %><%= f.label :名（カナ） %><%= f.text_field :first_name_kana, autofocus: true, placeholder: "例)タロウ", class: "form-control bootstrap-date-only-width #{"is-invalid" if @customer.errors.include?(:first_name_kana)}" %><%= render 'shared/errors', obj: @customer, column: :first_name_kana %>
        </td>
      </tr>
      <tr>
        <th class="table-light">郵便番号</th>
        <td>
          <%= f.label :住所, "郵便番号(ハイフン不要)" %>
          <%= f.text_field :postal_code, autofocus: true, placeholder: "例)5560002", class: "form-control bootstrap-date-only-width #{"is-invalid" if @customer.errors.include?(:postal_code)}" %><%= render 'shared/errors', obj: @customer, column: :postal_code %>
        </td>
      </tr>
      <tr>
        <th class="table-light">住所</th>
        <td>
          <%= f.label :address, "住所(部屋番号まで)" %>
          <%= f.text_field :address, autofocus: true, placeholder: "例)大阪府大阪市浪速区恵美須東１丁目１８−６", class: "form-control #{"is-invalid" if @customer.errors.include?(:address)}" %><%= render 'shared/errors', obj: @customer, column: :address %>
        </td>

      </tr>
      <tr>
        <th class="table-light">電話番号</th>
        <td>
          <%= f.label :telephone_number, "電話番号(ハイフン不要)" %>
          <%= f.text_field :telephone_number, autofocus: true, placeholder: "例)1111111", class: "form-control bootstrap-date-only-width #{"is-invalid" if @customer.errors.include?(:telephone_number)}" %><%= render 'shared/errors', obj: @customer, column: :telephone_number %>
        </td>
      </tr>
      <tr>
        <th class="table-light">メールアドレス</th>
        <td>
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, placeholder: "例)yamada@taro", class: "form-control #{"is-invalid" if @customer.errors.include?(:email)}" %><%= render 'shared/errors', obj: @customer, column: :email %>
        </td>
      </tr>
    </table>
    <div class="d-flex justify-content-center">
          <%= f.submit "新規登録する", class:"btn btn-outline-secondary" %>
        </div>
    <% end %>
  </div>
</div>