<% provide(:title, "管理者 利用者詳細") %>
<div class="container">
  <div class="row mx-auto">
  <p class="h4 mt-4 mb-5">利用者詳細</p>
  </div>
   <% if flash[:notice] %>
    <%= flash[:notice] %>
   <% end %>
  <div class="row">
    <div class="col-md-4 text-center mt-4">
      <%= attachment_image_tag @customer, :image, :fill, 250, 250, fallback: 'no_image.jpg' %>
      <div class="mt-5">
        <%= link_to "編集する", edit_admins_customer_path(@customer), class:"btn btn-outline-secondary" %>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-hover">
        <tr>
          <th class="table-light">利用者ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="table-light">名前</th>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-light">名前(カナ)</th>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-light">住所</th>
          <td>
            〒<%= @customer.postal_code.slice(0, 3) + "-" + @customer.postal_code.slice(3, 4) %><br>
            <%= @customer.address %>
          </td>
        </tr>
        <tr>
          <th class="table-light">電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-light">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <p class="h4 mt-4 mb-5">利用履歴</p>

  <div class="row text-center">
    <div class="col-md-8">
      <table class="table table-hover">
       <thead class="bg-light">
         <tr>
           <th>実施日</th>
           <th>スタッフ</th>
           <th>開始時刻</th>
           <th>終了時刻</th>
         </tr>
       </thead>
       <tbody>
        <% @shifts.each do |shift| %>
         <tr>
           <td><%= shift.start_time.to_date %></td>
           <td><%= shift.user.last_name %></td>
           <td><%= shift.start_time.strftime("%H:%M") %></td>
           <td><%= shift.end_time.strftime("%H:%M") %></td>
         </tr>
        <% end %>
       </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div id='admins-map'></div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key= <%= ENV['API_KEY']%> &callback=initMap" async defer></script>

