<div class="container">
    <div class="col-md-4">
      <p class="h4 mt-4 mb-5">利用者一覧</p>
    </div>
    <%= form_tag(search_customers_path, method: "get") do %>
    <div class="col-md-8">
        <p class="h4 mt-4 mb-5">
            <%= label_tag :last_name, "名前" %><%= text_field_tag :last_name, params[:last_name], class: 'form-control bootstrap-date-only-width' %>
            <%= submit_tag "検索", class:"btn btn-success" %>
        </p>
    </div>
    <% end %>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
   <% end %>
  <div class="row text-center">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr class="bg-light">
            <th>利用者ID</th>
            <th>写真</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>電話番号</th>
            <th>詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= attachment_image_tag customer, :image, size: "100x100", fallback: "no_image.jpg", class: "rounded-circle" %></td>
              <td><%= customer.last_name %> <%= customer.first_name %></td>
              <td><%= customer.email %></td>
              <td><%= customer.telephone_number %></td>
              <td>
                <%= link_to "詳細", customer_path(customer), class:"btn btn-outline-secondary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>