<div class="container">
  <div class="row mx-auto">
    <p class="h4 mt-4 mb-5">利用者詳細</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= attachment_image_tag @customer, :image, size: "175x175", fallback: 'no_image.jpg', class: "rounded-circle" %>
    </div>
    <div class="col-md-9">
      <table class="table table-bordered table-hover">
        <tr>
          <th class="table-light">名前</th>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-light">名前(カナ)</th>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-light">住所</th>
          <td>
            〒<%= @customer.postal_code.slice(0, 3) + "-" + @customer.postal_code.slice(3, 4) %><br>
            <%= @customer.address %>
          </td>
        </tr>
        <tr>
          <th class="table-light">電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-light">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-12 mx-auto">
    <h2>Map検索</h2>
    <input id="address" type="textbox" value="">
    <input type="button" value="検索" onclick="codeAddress()">
    <div id='map'></div>
    
  </div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcq30rikD1_S5S4MFsdK67PHmWzzKNFvE&callback=initMap" async defer></script>