<div class="simple-calendar ">
  <div class="calendar-heading ">
    <%= link_to t('simple_calendar.previous', default: '先週'), calendar.url_for_previous_view %>
    |
    <%= link_to t('simple_calendar.next', default: '次週'), calendar.url_for_next_view %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>従業員</th>

        <% date_range.slice(0, 7).each do |day| %>
          <th ><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.last_name %>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day)  do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>

                <% user.shifts.each do |shift| %>
                  <% if shift.start_time.to_date() == day.to_date() %>
                  <%= link_to admins_shift_path(shift) do %>
                  <div class="title-box">
                    <%= shift.customer.last_name %>様<br>
                    <%= shift.start_time.hour %>：<%= shift.start_time.min %>〜<br>
                  </div>
                  <% end %>
                  <% end %>
                <% end %>

              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
