<% provide(:title, "記録一覧") %>
<div class="container">
  <h3 class="my-5">本日の記録</h3>
  <div class="container">
  <% if @record_todays.present? %>
   <div class="row">
     <% @record_todays.each do |record| %>
       <div class="col-md-3">
        <%= link_to record_path(record), class: 'no-underline' do %>
         <div class="card mt-2">
          <%= attachment_image_tag record.shift.customer, :image, :fill, 150, 150, fallback: "no_image.jpg", class: "card-img-top" %>
           <div class="card-body text-center">
             <h4 class="card-title"><%= record.shift.start_time.strftime("%H:%M") %>〜<%= record.shift.end_time.strftime("%H:%M") %></h4>
             <h6 class="card-subtitle"><%= record.shift.customer.last_name %> <%= record.shift.customer.first_name %></h6>
             <p class="card-text"><%= record.shift.type %>を<%= ((record.shift.end_time-record.shift.start_time)/60).floor %>分しました。</p>
           </div>
         </div>
        <% end %>
       </div>
     <%end%>
   </div>
  <% else %>
   <p class="text-center">本日はまだ記録されてません。</p>
  <% end %>
  <div class="row mt-3">
   <h3 class="my-5">記録一覧</h3>
   <div class="col-md-12">
   <% if @records.present? %>
    <table class="table ">
     <thead>
       <tr>
        <th><i class="fas fa-flag"></i></th>
        <th><i class="fas fa-calendar-day"></i></th>
        <th><i class="fas fa-house-user"></th>
        <th><i class="fas fa-briefcase"></th>
        <th><i class="fas fa-wheelchair"></th>
        <th><i class="fas fa-briefcase"></th>
        <th></th>
       </tr>
     </thead>
     <tbody>
       <% @records.each do |record| %>
        <tr>
          <td><%= @sequence.next %></td>
          <td><%= record.shift.start_time.to_date %></td>
          <td><%= record.shift.customer.last_name %> <%= record.shift.customer.first_name %></td>
          <td><%= record.shift.start_time.strftime("%H:%M") %>〜<%= record.shift.end_time.strftime("%H:%M") %></td>
          <td><%= record.shift.type %></td>
          <td><%= record.shift.work %></td>
          <td><%= link_to "詳細", record_path(record), class: "btn btn-outline-secondary" %></td>
        </tr>
       <% end %>
     </tbody>
    </table>
    <% else %>
     <p class="text-center">記録はありません。</p>
    <% end %>
    </div>
  </div>
</div>
</div>