<div class="container">
 <div class="border border-dark rounded mt-5">
 <%= form_with(model: @record, local: true, url: records_path, method: :post) do |f| %>
 <%= f.hidden_field :shift_id, value: @shift.id %>
 <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="row">
   <div class="col-md-3">
    <table class="table table-hover">
     <th class="bg-light">お名前</th>
     <td><%= @shift.customer_na %></td>
    </table>
   </div>
   <div class="col-md-3">
    <table class="table table-hover">
     <th class="bg-light">担当ヘルパー</th>
     <td><%= @shift.staff %></td>
    </table>
   </div>

   <div class="col-md-3">
   </div>

   <div class="col-md-3 pull-right mt-3">
    <%= f.submit "サービスを記録する", class:"btn btn-primary" %>
   </div>
  </div>

  <div class="row">
   <div class="col-md-6">
    <table class="table table-hover">
     <th class="bg-light">実施日</th>
     <td><%= @shift.start_time.to_date %></td>
    </table>
   </div>
   <div class="col-md-6">
    <table class="table table-hover">
     <th class="bg-light">時間</th>
     <td>
      <%= @shift.start_time.hour %>：<%= @shift.start_time.min %>〜<%= @shift.end_time.hour %>：<%= @shift.end_time.min %>
     </td>
    </table>
   </div>
  </div>

  <div class="row">
   <div class="col-md-6">
    <table class="table table-hover">
     <th class="bg-light">サービスの種類</th>
     <td><%= @shift.type %></td>
     <td><%= @min.floor %>分</td>
     <td></td>
    </table>
   </div>
  </div>

  <div class="row">
   <div class="col-md-3">
    <table class="table table-hover">
     <th class="bg-light">事前チェック</th>
    </table>
   </div>
   <div class="col-md-3">
    <table class="table table-hover">
     <th class="bg-light">顔色</th>
     <td>
        <%= f.label :face, :良 %>
        <%= f.radio_button :face, 0, id: 'button1' %>
      </td>
      <td>
        <%= f.label :face, :不良 %>
        <%= f.radio_button :face, 1, id: 'button2' %>
      </td>
    </table>
   </div>
   <div class="col-md-3">
    <table class="table table-hover">
     <th class="bg-light">発汗</th>
     <td>
        <%= f.label :sewat, :有 %>
        <%= f.radio_button :sewat, 0, id: 'button3' %>
      </td>
      <td>
        <%= f.label :sewat, :無 %>
        <%= f.radio_button :sewat, 1, id: 'button4' %>
      </td>
    </table>
   </div>
   <div class="col-md-3">
    <table class="table table-hover">
     <th class="bg-light">体温</th>
     <td><%= f.text_field :body_temperature, class: 'form-control ' %>℃</td>
    </table>
   </div>
  </div>

  <div class="row">
   <div class="col-md-6">
    <table class="table table-hover">
     <tr>
      <th class="bg-light">身体介護</th>
     </tr>
    </table>
   </div>
   <div class="col-md-6">
    <table class="table table-hover">
     <tr>
      <th class="bg-light">生活介護</th>
     </tr>
    </table>
   </div>
  </div>


  <div class="row">
   <div class="col-md-6">
    <table class="table table-hover">
     <tr>
      <th class="bg-light">排泄介助</th>
       <% excretion_cares = ["トイレ介助","オムツ交換","パッド交換","陰部清潔","尿器洗浄"] %>
       <% excretion_cares.each do |excretion_care| %>
        <td>
          <%= f.check_box :excretion_care , {multiple: true}, excretion_care, nil  %>
          <%= f.label :excretion_care, excretion_care %>
        </td>
       <% end %>
     </tr>
    </table>

    <table class="table table-hover">
     <tr>
       <td>排尿:<%= f.text_field :urinate, class: 'form-control bootstrap-date-only-width' %>cc</td>
       <td>排便：<%= f.text_field :evacuate, class: 'form-control bootstrap-date-only-width' %></td>
     </tr>
    </table>

    <table class="table table-hover">
     <tr>
      <th class="bg-light">食事介助</th>
      <td>食事量：<%= f.number_field :meal_care, class: 'form-control bootstrap-date-only-width' %>/10</td>
     </tr>
    </table>

    <table class="table table-hover">
     <tr>
      <th class="bg-light">清拭入浴</th>
      <td>
        <%= f.label :bath_care, :清拭 %>
        <%= f.radio_button :bath_care, 0, id: 'button5' %>
      </td>
      <td>
        <%= f.label :bath_care, :無 %>
        <%= f.radio_button :bath_care, 1, id: 'button6' %>
      </td>
     </tr>
    </table>

    <table class="table table-hover">
     <tr>
      <th class="bg-light">移動介助</th>
      <% move_cares = ["移乗介助","移動介助","通院介助","買い物介助"] %>
       <% move_cares.each do |move_care| %>
        <td>
          <%= f.check_box :move_care , {multiple: true}, move_care, nil  %>
          <%= f.label :move_care, move_care %>
        </td>
       <% end %>
     </tr>
    </table>
   </div>

   <div class="col-md-6">
    <table class="table table-hover">
     <tr>
      <th class="bg-light">清掃</th>
      <% clean_cares = ["居室","トイレ","浴室","寝室"] %>
       <% clean_cares.each do |clean_care| %>
        <td>
          <%= f.check_box :clean_care , {multiple: true}, clean_care, nil  %>
          <%= f.label :clean_care, clean_care %>
        </td>
       <% end %>
     </tr>
    </table>

    <table class="table table-hover">
     <tr>
      <th class="bg-light">調理</th>
      <td><%= f.text_field :cooking_care, class: 'form-control' %></td>
     </tr>
    </table>

    <table class="table table-hover">
     <tr>
      <th class="bg-light">買い物</th>
      <td><%= f.text_field :buy_care, class: 'form-control' %></td>
     </tr>
    </table>

    <table class="table table-hover">
     <tr>
      <th class="bg-light">記録</th>
      <td><%= f.text_area :content, rows: 5, class: 'form-control' %></td>
     </tr>
    </table>

   </div>

  </div>
 <% end %>
 </div>
</div>

