<% provide(:title, "シフト一覧") %>
<div class="container mt-5">
 <div class="col-md-12  mx-auto">
  <h4>本日のシフト</h4>
 </div>
 <div class="row mt-2">
  <div class="col-md-12 mx-auto">
   <% if @shift_todays.present? %>
    <table class="table">
     <thead>
       <tr>
        <th><i class="fas fa-flag"></i></th>
        <th><i class="fas fa-house-user"></th>
        <th><i class="fas fa-briefcase"></th>
        <th><i class="fas fa-wheelchair"></i></th>
        <th><i class="fas fa-briefcase"></i></th>
        <th><i class="fab fa-algolia"></i></th>
        <th></th>
       </tr>
     </thead>
     <tbody>
      <% @shift_todays.each do |shift| %>
       <% if shift.status == "終了" %>
         <tr bgcolor="#FFCCCC">
       <% elsif shift.status == "開始" %>
         <tr bgcolor="#CCFFCC">
       <% elsif shift.status == "準備中" %>
         <tr bgcolor="#FFFFFF">
       <% end %>
        <td><%= @sequence.next %></td>
        <td><%= shift.customer.last_name %></td>
        <td><%= shift.start_time.strftime("%H:%M") %>〜<%= shift.end_time.strftime("%H:%M") %></td>
        <td><%= shift.type %></td>
        <td><%= shift.work %></td>
        <td><%= shift.status %></td>
        <td><%= link_to "詳細", shift_path(shift), class: "btn btn-outline-secondary" %></td>
       </tr>
      <% end %>
     </tbody>
    </table>
   <% else %>
    <p class="text-center">本日はありません。ゆっくり休息してください。</p>
   <% end %>
   </div>
 </div>
</div>
