
<div class="container mt-3">

  <div class="col-md-12">
　<h2>スッタフ登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <table class="table table-bordered table-hover mt-3">
      <tr>
        <th class="table-light">写真</th>
        <td>
          <%= f.attachment_field :image %>
        </td>
      </tr>
      <tr>
        <th class="table-light">氏名</th>
        <td>
          <%= f.label :姓  %><%= f.text_field :last_name, autofocus: true, placeholder: "例)山田", class: "form-control bootstrap-date-only-width #{"is-invalid" if resource.errors.include?(:last_name)}" %><%= render 'shared/errors', obj: resource, column: :last_name %><%= f.label :名 %><%= f.text_field :first_name, autofocus: true, placeholder: "例)太郎", class: "form-control bootstrap-date-only-width #{"is-invalid" if resource.errors.include?(:first_name)}" %><%= render 'shared/errors', obj: resource, column: :first_name %>
        </td>
      </tr>
      <tr>
        <th class="table-light">フリガナ</th>
        <td>
          <%= f.label :姓（カナ） %><%= f.text_field :last_name_kana, autofocus: true, placeholder: "例)ヤマダ", class: "form-control bootstrap-date-only-width #{"is-invalid" if resource.errors.include?(:last_name_kana)}" %><%= render 'shared/errors', obj: resource, column: :last_name_kana %><%= f.label :名（カナ） %><%= f.text_field :first_name_kana, autofocus: true, placeholder: "例)タロウ", class: "form-control bootstrap-date-only-width #{"is-invalid" if resource.errors.include?(:first_name_kana)}" %><%= render 'shared/errors', obj: resource, column: :first_name_kana %>
        </td>
      </tr>
      <tr>
        <th class="table-light">郵便番号</th>
        <td>
          <%= f.label :住所, "郵便番号(ハイフン不要)" %>
          <%= f.text_field :postal_code, autofocus: true, placeholder: "例)58100", class: "form-control bootstrap-date-only-width #{"is-invalid" if resource.errors.include?(:postal_code)}" %><%= render 'shared/errors', obj: resource, column: :postal_code %>
        </td>
      </tr>
      <tr>
        <th class="table-light">住所</th>
        <td>
          <%= f.label :address, "住所(部屋番号まで)" %>
          <%= f.text_field :address, autofocus: true, placeholder: "例)大阪府八尾市安中町5-12", class: "form-control #{"is-invalid" if resource.errors.include?(:address)}" %><%= render 'shared/errors', obj: resource, column: :address %>
        </td>

      </tr>
      <tr>
        <th class="table-light">電話番号</th>
        <td>
          <%= f.label :telephone_number, "電話番号(ハイフン不要)" %>
          <%= f.text_field :telephone_number, autofocus: true, placeholder: "例)1111111", class: "form-control bootstrap-date-only-width #{"is-invalid" if resource.errors.include?(:telephone_number)}" %><%= render 'shared/errors', obj: resource, column: :telephone_number %>
        </td>
      </tr>
      <tr>
        <th class="table-light">メールアドレス</th>
        <td>
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, placeholder: "例)yamada@taro", class: "form-control #{"is-invalid" if resource.errors.include?(:email)}" %><%= render 'shared/errors', obj: resource, column: :email %>
        </td>
      </tr>
      <tr>
        <th class="table-light">パスワード</th>
        <td>
          <%= f.label :password, "パスワード" %><%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力して下さい",class: "form-control #{"is-invalid" if resource.errors.include?(:password)}" %><%= render 'shared/errors', obj: resource, column: :password %>
        </td>
      </tr>
      <tr>
        <th class="table-light">パスワード確認</th>
        <td>
          <%= f.label :password_confirmation, "パスワード(確認)" %><%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワードを入力して下さい",class: "form-control #{"is-invalid" if resource.errors.include?(:password_confirmation)}" %><%= render 'shared/errors', obj: resource, column: :password_confirmation %>
        </td>
      </tr>
    </table>
    <div class="d-flex justify-content-center">
          <%= f.submit "新規登録する", class:"btn btn-outline-secondary" %>
    </div>
    <% end %>
  </div>
</div>

